body {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;

  font-family: Inter, system-ui, sans-serif;
  line-height: 1.8;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1.2rem;
}
